//
//  Config_QA.xcconfig
//
//
//  Created by
//  Copyright © 2019 Andrea Ferrando. All rights reserved.
#include "Pods/Target Support Files/Pods-Demo/Pods-Demo.debug (qa).xcconfig"
#include "Pods/Target Support Files/Pods-Demo/Pods-Demo.release (qa).xcconfig"

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
EnvConfigFile = ConfigQA
